.file-list {
  overflow: scroll;
  max-height: calc(100vh - 140px);
  min-height: calc(100vh - 100px);

  padding-bottom: 50px;
  flex: auto;
  ul {
    height: auto;
    li {
      display: flex;
      padding-left: calc(18px * var(--i));
      min-height: 30px;
      // 避免标题太长重叠
      height: auto;
      line-height: 30px;
      &:hover {
        cursor: pointer;
        background-color: rgb(56, 62, 77);
      }
      div {
        height: 30px;
        width: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 4px;
        svg {
          height: 16px;
          width: 16px;
          transition: all 0.5s;
        }
        svg.triangle-down {
          height: 12px;
          width: 12px;
          margin-right: 4px;
        }
        svg.folder-open {
          color: rgb(147, 147, 214);
          display: block;
        }
        svg.folder-close {
          color: rgb(147, 147, 214);
          display: none;
        }
      }
      input {
        display: none;
      }
    }
    li.dir {
    }
    li.file-item {
    }
    li.show-input {
      input {
        display: block;
      }
      span {
        display: none;
      }
    }
  }
  ul.close {
    height: 30px;
    overflow: hidden;
    svg.triangle-down {
      transition: all 0.5s;
      transform: rotateZ(-90deg);
    }
    svg.folder-close {
      display: block;
    }
    svg.folder-open {
      display: none;
    }
  }
  ul.drag-over {
    background-color: aqua;
  }
  .new-file {
    display: flex;
    input {
      height: auto;
      width: 90%;
      padding-left: 4px;
      box-shadow: 0px 0px 2px 0px;
    }
  }
}
