
.search-word {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 60vw;
  display: block;
  input {
    height: 100%;
    width: 100%;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 6px;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-word-close {
  display: none;
}


.search-file {
  top: 30px;
  position: fixed;
  z-index: 9999;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  border-radius: 4px;
  div {
    display: flex;
    justify-content: center;
  }
  li {
    display: flex;
    margin: 5px 0;
    span {
      margin-left: 20px;
    } 
  }
}
