$dark-color: rgba(236, 239, 244, 0.87);
$dark-background: rgb(39, 44, 55);

.search-wrapper {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 60vw;
  display: block;
  input {
    height: 100%;
    width: 100%;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 6px;
    color: $dark-color;
    background-color: $dark-background;

    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-wrapper-close {
  display: none;
}
.match {
  background-color: aqua !important;
}
