
.search-word {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  position: absolute;
  top: 60px;
  left: 60vw;
  display: block;
  input {
    height: 100%;
    width: 100%;
    padding-left: 12px;
    font-size: 16px;
    border-radius: 6px;
    border: none;
    outline: none;
    &:hover {
      cursor: pointer;
    }
  }
}
.search-word-close {
  display: none;
}


.search-file {
  top: 10px;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
}
.search-file-close {
  display: none;
}
