$side-bar-width: 250px;
$max-height: calc(100vh - 30px);
$title-height: 30px;
.side-bar {
  width: $side-bar-width;
  max-height: $max-height;
  min-width: 100px;
  padding: 30px 0 20px 0;
  transition: 0.4s;
  font-size: smaller;
  position: relative;
  &:hover {
    footer {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
    header svg {
      display: block;
    }
  }
  header {
    display: flex;
    height: 30px;
    justify-content: space-around;
    svg {
      display: none;
      cursor: pointer;
    }
  }
  .header-list {
    overflow: scroll;
    max-height: calc(100vh - 100px);
    ul {
      height: auto;
      li {
        display: flex;
        padding-left: calc(10px * var(--i));
        min-height: $title-height;
        // 避免标题太长重叠
        height: auto;
        line-height: $title-height;
        &:hover {
          cursor: pointer;
          background-color: rgb(56, 62, 77);
        }
        div {
          height: $title-height;
          width: 10px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin: 0 4px;
        }
        a {
          //占满剩余部分
          flex: auto;
          text-decoration: none;
          // text-decoration-color: $dark-color;
          // color: white;
        }
        svg {
          height: 8px;
          width: 8px;
          transition: all 0.5s;
          opacity: 0%;
        }
      }
    }
    ul.show-list > li {
      svg {
        opacity: 100%;
      }
    }
    ul.ul-close {
      height: $title-height !important;
      overflow: hidden;
      svg {
        transform: rotateZ(-90deg);
      }
    }
  }
  .file-list {
    overflow: scroll;
    max-height: calc(100vh - 140px);
    li {
      display: flex;
      padding-left: 20px;
      min-height: $title-height;
      // 避免标题太长重叠
      height: auto;
      line-height: $title-height;
      &:hover {
        cursor: pointer;
        background-color: rgb(56, 62, 77);
      }
    }
    .new-file {
      display: flex;
      input {
        height: auto;
        width: 90%;
        padding-left: 4px;
        box-shadow: 0px 0px 2px 0px;
      }
    }
  }
  .drag-line {
    width: 3px;
    position: absolute;
    left: $side-bar-width;
    height: 90vh;
    top: 30px;
    z-index: 99999;
    opacity: 0;
    &:hover {
      cursor: ew-resize;
      opacity: 100%;
    }
  }
  footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    border-top: 1px solid rgb(111, 109, 109);
    display: none;
    svg {
      cursor: pointer;
    }
  }
}
.side-bar-close {
  min-width: 0;
  // 加import是因为通过拖拽设置的宽度是行内样式，这里的无法覆盖
  width: 0 !important;
  header {
    overflow: hidden;
  }
}
