// 配色参考：飞书文档深色模式
$dark-font-color: rgb(221, 224, 235);
$dark-font-hover-color: rgb(255, 255, 255);
$dark-background: rgb(46 52 64);
$dark-header-backgournd: rgb(59, 62, 81);
$dark-sideBar-background: rgb(36, 41, 51);
$active-font-color: rgb(129, 161, 193);
$dark-mark-color: rgb(175, 213, 23);
$dark-icon-hover-backgroundColor: rgb(65, 98, 118);
$font-family: sans-serif;
$code-fence-font-family: -apple-system, BlinkMacSystemFont, PingFang SC, Hiragino Sans GB,
  sans-serif;
// 最外层是container
@mixin theme-dark {
  color: $dark-font-color;
  background-color: $dark-background;
  header {
    background-color: rgb(63, 67, 90);
  }
  input {
    color: $dark-font-color;
    background-color: $dark-sideBar-background;
    border: 1.4px solid $active-font-color;
    border-radius: 6px;
    padding-left: 4px;
    transform: scale(1.1);
  }
  .side-bar {
    border-right: 1px solid $dark-header-backgournd;
    background-color: $dark-sideBar-background;
    mark {
      color: $dark-mark-color;
      background-color: none;
      border: 1px solid $dark-mark-color;
      background-color: $dark-sideBar-background;
      border-radius: 6px;
      padding: 2px;
    }
    .file-item-focus {
      background-color: rgb(46, 54, 71);
    }
    li.file-item {
      svg {
        color: #9da7ed;
      }
      &:hover {
        color: $dark-font-hover-color;
      }
    }
    li.file-item-active {
      border-left: 5px solid rgb(157, 157, 198);
      background-color: rgb(23, 27, 36);
      color: #dad085;
    }
    .drag-line {
      background-color: $dark-header-backgournd;
    }
    a {
      text-decoration-color: $dark-font-color;
      color: $dark-font-color;
    }
    .swg {
      background-color: $dark-sideBar-background;
    }
    .header-list {
      .svg-container {
        &:hover {
          background-color: $dark-icon-hover-backgroundColor;
        }
      }
    }
  }
  .milkdown {
    background: $dark-background;
    color: $dark-font-color;
    font-family: $font-family;
    p {
      width: 100%;
    }
    li.list-item {
      color: #e5eef6;
      .list-item_label {
        color: #4d91d2;
      }
    }
    .heading {
      font-family: Georgia, 'Times New Roman', Times, serif !important;
      color: rgb(239, 240, 245);
    }
    strong {
      color: #ffcc00;
      padding: 0 3px;
    }
    // 反引号，行内的代码
    .editor {
      code.code-inline {
        color: $dark-font-color;
        background-color: $dark-sideBar-background;
        font-size: initial;
      }
      del {
        color: rgb(195, 239, 19);
        border: 1px solid rgb(195, 239, 19);
      }
      // 注释
      .blockquote {
        padding-left: 14px;
        border-width: 2px;
        margin: 30px 0;
        border-color: #7c7c7c;
        p {
          font-size: 18px;
          color: #7c7c7c;
        }
      }
      .code-fence {
        margin: 30px 0px;
        pre code {
          color: $dark-font-color;
        }
      }
    }
  }
  .search-file {
    background-color: $dark-sideBar-background;
    li.active,
    li:hover {
      background-color: $dark-header-backgournd;
      color: $active-font-color;
    }
  }
  .search-word {
    box-shadow: 0 3px 12px 2px hwb(210deg 14% 82%);
    .input-container {
      background-color: $dark-background;
    }
  }
  .search-word-global {
    div.fn {
      div:hover {
        background-color: $dark-icon-hover-backgroundColor;
      }
    }
  }
}
