// 清除默认编辑器我不喜欢的样式
// this file amis to clear some default styles of the milkdown editor
.editor .code-fence {
  position: relative;
  // 代码块的语言框大小
  div.code-fence_selector {
    width: 90px;
    height: 30px;
    opacity: 0%;
  }
  &:hover {
    div.code-fence_selector {
      opacity: 100%;
    }
  }
}
div.milkdown div.editor p {
  font-size: 18px;
}
div.milkdown .editor .code-fence pre {
  font-size: 15px;
}
div.milkdown .editor .heading {
  margin: 20px 0;
}
.code-fence_selector-wrapper {
  position: absolute !important;
  right: 0;
  bottom: -12px;
}
.code-fence_selector-wrapper .code-fence_selector span:nth-child(2) {
  display: none !important;
}
// 工具输入框？
.milkdown-sj2pad {
  display: none !important;
}

.milkdown::-webkit-scrollbar {
  width: 0 !important;
}
.milkdown .editor h1.heading {
  font-weight: 500;
  font-size: 460px !important;
}
.milkdown .editor h2.heading {
  font-weight: 400;
  font-size: 34px;
}
.milkdown .editor h3.heading {
  font-weight: 400;
  font-size: 34px;
}
.milkdown .editor h4.heading {
  font-weight: 400;
  font-size: 27px;
}
.milkdown .editor h5.heading {
  font-size: 22px;
}
